.separator {
  font-size: 1.3em;
  margin: 0 10px;
}

.like-image{
  height: 35px;
  width: 35px;
}

.postImage{
  width:250px;
  height: 250px;
  object-fit:cover;
}

.username{
  color: #232323;
  font-size: 1em;
  margin-top: -1.5em;
}

.container {
  display: flex;
  min-height: calc(100vh - 4.5em);
  column-gap: 3em;
}

.left-column, .right-column {
  flex: 1;
  background-color: #a5a5a5;
  border-radius: 10px;
  margin-top: 5em;
  position: sticky;
  z-index: -1;
}

main {
  margin-top: 5em;
  flex: 3; 
  overflow-y: auto; 
  max-height: calc(100vh - 10em); 
}

.post-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile-image {
  width: 40px;
  height: 40px; 
  object-fit: cover;
  margin-bottom: 1em;
  margin-right: 1em;
}

main > div > div { /*child selector*/
  background-color: rgb(224, 224, 224);
  border-radius: 10px;  
}

.post p { /*descendant selector?*/
  font-size: 1.5em;
  color: #212121;
  margin-bottom: 0em; 
}

.post{
  padding: 1em;
}

.post ~ .post { /*general sibling selector*/
  margin-top: 1em;
}

.profile-image + p, .post-date {
  color: #454545;
  font-size: 1em;
  margin-top: -1em;
}

.like-image{
  margin-bottom: -0.25em;
}

@media (max-width: 600px) {
  .postImage{
    width:100px;
    height: 100px;
    object-fit:cover;
  }
  .profile-image {
    width: 30px;
    height: 30px;
    object-fit: cover;
  }
  .post p {
    font-size: 0.9em;
  }
  .profile-image + p {
    color: #434242; 
    font-size: 0.7em;
  }
  
}

.footer {
  display: flex;
  background-color: #a5a5a5;
  align-items: center;
  justify-content: space-evenly;
  position: fixed;
  bottom: 0;
  border-radius: 10px;
  width: 99.5%;
}

footer li {
  display: inline;
  margin-right: 100;
  margin-left: 100;
  font-size: 1.2em;
}

.username {
  color: #232323;
  font-size: 1em;
  margin-top: -3em;
  margin-left: 3.5em; 
  margin-bottom: 2em;
  display: flex;
  align-items: center; 
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 1em;
  background-color: #dedede;
  border-radius: 10px;
  padding: 0.2em;
  min-width: 10em;
  box-shadow: 0 0.1em 0.2em 0 rgba(0,0,0,0.2);
}

.dropdown-content p{
  margin: 0.5em;
}